* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

/* header design start */
.header-main {
  background-color: white;
}
.nav-btn a {
  margin-left: 10px;
  border-radius: 0 20px 0 20px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
/* header design ends */

/* hero design start */

.hero-background {
  background-image: url("./images/pexels-yan-krukov-8867434.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.heading-hero {
  margin: 200px 0 200px;
  font-size: 70px;
  font-weight: 700;
}
@media only screen and (max-width: 992px) {
  .heading-hero {
    margin: 100px 0 200px;
    font-size: 40px;
    font-weight: 700;
  }
}

/* hero design ends */

/* brands sections design start */

.heading-brand {
  font-size: 60px;
  font-weight: 700;
}
.pera-brand {
  max-width: 1000px;
}

/* cards section design start */

.button a img {
  width: 13px;
  margin-left: 5px;
}

/* cards design end */

/* element design start  */
.element-heading {
  font-size: 60px;
  font-weight: 700;
}
.button-element {
  border-radius: 0 20px 0 20px;
  padding: 6px 16px;
  background-color: #e53067;
}
.rate-out {
  /* width: 500px; */
  background-color: rgb(255, 255, 255);
  border-radius: 0 50px 0 50px;
}
.rate-img {
  max-width: 170px;
}

/* flexibility start */
.flexibility {
  border-radius: 40px 0 40px 0;
  background-color: #e5f9fd;
}
.heading-achivers {
  font-size: 45px;
  font-weight: 700;
  max-width: 500px;
  line-height: 1.5;
}
.achivers-details {
  font-size: 24px;
  font-weight: 500;
}
.achivers-photo {
  border-radius: 0 50px 0 50px;
}
/* form design start */

.form-main {
  background-color: #78a1bb;
}
.nameholder-design {
  border-radius: 0 20px 0 20px;
  padding: 12px 32px;
  border: none;
}
.country-design {
  border-radius: 0 20px 0 20px;
  padding: 12px 164px;
  border: none;
}
.heading-form {
  padding-top: 100px;
}
/* form ends */
/* footer design start */

.logos a img {
  width: 20px;
  height: 20px;
}
.youtube-logo {
  width: 30px !important;
  height: 30px !important;
}
.footer-nav ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-nav ul li a {
  text-decoration: none;
  color: #5b5b57;
}
.form-button {
  padding: 12px 30px;
  border: none;
  border-radius: 0 0 0 20px;
  background-color:#F2F2F2;
}
.sub-button {
  padding: 12px 30px;
  border: none;
  border-radius: 0 20px 0 0;
  background-color: #E63167;
  color:white;
}
